.footer{
  
  height: 10vh;
  background: #380f0a;
  min-height: 150px;
  justify-content: space-between;
  color: white;
  padding: 0 20px;
}
.footer a{
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px; 
}
.footer a :hover{
  color: blueviolet;
 
}
